@model Room

@{
	ViewData["title"] = "Forgot Password";
}

<div class="container-fluid">
	<div class="text-center mb-3">
		<h1 class="display-6">Forgot Password</h1>
	</div>
	<div class="row">
		<div class="col-md-4 mx-auto">
			<form method="post" enctype="multipart/form-data">
				<div asp-validation-summary="ModelOnly"></div>
				@if (!string.IsNullOrEmpty(ViewBag.Message))
				{
					<span class="text-danger">
						@ViewBag.Message
					</span>
				}
				<div class="mb-3">
					<label for="email" class="form-label">Enter your email</label>
					<input id="email" name="email" type="email" class="form-control" />
					<span asp-validation-for="RoomNo" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>

