@model HotelManagement.ViewModels.LoginViewModel
@{
	ViewData["Title"] = "Login";
}

<h1 class="display-6">Login</h1>
<hr class="display-6"/>
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly"></div>
			@if (!string.IsNullOrEmpty(ViewBag.Message))    
            {    
                <span class="text-danger">    
                    @ViewBag.Message    
                </span>    
            }  
			@Html.HiddenFor(x => x.ReturnUrl)
			<div class="mb-3">
				<label asp-for="Username" class="form-label">Username</label>
				<input asp-for="Username" class="form-control" />
				<span asp-validation-for="Username" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Password" class="form-label">Password</label>
				<input asp-for="Password" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<input asp-for="RememberLogin" class="form-check-input" type="checkbox" />
				<label asp-for="RememberLogin" class="form-check-label">
					@Html.DisplayNameFor(x => x.RememberLogin)
				</label>
			</div>
			<div class="mb-3">
				<input type="submit" value="Login" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>
