@model Account

@{
	ViewData["title"] = "Forgot Password";
}

<div class="container-fluid">
	<div class="text-center mb-3">
		<h1 class="display-6">Reset your password</h1>
	</div>
	<div class="col-md-4 mx-auto">
		<form asp-action="ConfirmedResetPassword" method="post">
			<div asp-validation-summary="ModelOnly"></div>
			@if (!string.IsNullOrEmpty(ViewBag.Message))
			{
				<span class="text-danger">
					@ViewBag.Message
				</span>
			}
			<div class="mb-3">
				<label class="form-label" for="password">Password</label>
				<input id="password" type="password" name="password" class="form-control"/>
			</div>
			<div class="mb-3">
				<label class="form-label" for="repassword">Re-enter Password</label>
				<input id="repassword" type="password" name="repassword" class="form-control"/>
			</div>
			<div class="mb-3">
				<input type="hidden" name="AccId" value="@Model.AccId"/>
				<button class="btn btn-primary" type="submit">Confirm</button>
			</div>
		</form>
	</div>
</div>

