@model Room

@{
	ViewData["title"] = "Forgot Password";
}

<div class="container-fluid">
	<div class="text-center mb-3">
		<h1 class="display-6">We have sent you an email to reset your password.</h1>
	</div>
</div>

