@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6">Welcome</h1>
    <p>Day se la trang chu cua website</a>.</p>
</div>
<table class="table table-light table-bordered table-hover">
	@foreach (var claim in User.Claims)
	{
		<tr>
			<td>@claim.Type</td>
			<td>@claim.Value</td>
		</tr>
	}
</table>