@{
    ViewData["Title"] = "Room Management";
}

<div class="text-center mb-3">
    <h1 class="display-6">Room List</h1>
</div>

<table class="table table-striped table-hover">

    <tr>
        <th>Room ID</th>
        <th>Room Number</th>
        <th>Room Type</th>
        <th>Description</th>
        <th>Features</th>
    </tr>

</table>