@{
    ViewData["Title"] = "Edit";
}

<div class="text-center">
    <h1 class="display-6">Add Service</h1>
</div>

<div class="row">
	<div class="mb-3">
		<a asp-action="Details" asp-route-id="@ViewBag.BookingId" class="btn btn-info me-3">Back</a>
	</div>
    <div class="col-md-6 mx-auto border-start border-end">
		<form method="post" asp-action="AddService">
			<input id="ser_count" type="hidden" value="1" name="serCount" />
			<input type="hidden" value="@ViewBag.BookingId" name="BookingId" />
			<div id="service-container">
						<!-- Services goes here-->
			</div>
			<div class="text-center">
				<button class="btn btn-success me-3" type="button" id="add-ser-btn" onclick="onClick()">More</button>
				<button type="submit" class="btn btn-primary">Finish Add</button>
			</div>
		</form>
    </div>
</div>

@section Scripts {
	<script>
		function onRemoveService(e){
			e.parentElement.parentElement.remove();
		}


		const sers = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.ListOfServices));
		let serToOptions = '';
		if (sers.length > 0) {
			sers.forEach(ser => serToOptions += `<option value="${ser.ServiceId}">${ser.Name}</option>`);
		}

		function onClick() {
			console.log("111")
			const count = parseInt(document.getElementById("ser_count").value);

			var newRow = document.createElement("div");
			newRow.innerHTML = `
						<input type="hidden" name="BookingServices.Index" value="${count}" />
						<div class="col-md-7">
						<label class="form-label" for="BookingServices[${count}].ServiceId">Select Service</label>
						<select class="form-select" id="BookingServices[${count}].ServiceId" name="BookingServices[${count}].ServiceId">
							${serToOptions}
						</select>
						</div>
						<div class="col-md-3">
							<label class="form-label" for="BookingServices[${count}].Amount">Amount</label>
							<input class="form-control" required type="number" id="BookingServices[${count}].Amount" name="BookingServices[${count}].Amount" value="1" min="1" max="10">
						</div>
						<div class="col-md-2 d-flex flex-column">
							<button class="btn btn-danger form-control mt-auto" type="button" onclick="onRemoveService(this)">X</button>
						</div>
						`
				;

			newRow.className = "row mb-3 px-1";

			document.getElementById("service-container").appendChild(newRow);
			document.getElementById("ser_count").value = count + 1;
		}

		onClick();

	</script>
}
